header#masthead {
    background-color: #2c3e50;
    a {
        color: #ffffff;
        &:hover {
            color: #ff4848;
        }
    }
    .current-menu-item {
        a {
            color: #ff4848;
        }
    }
}

.section-why-us {
    background-color: #ff4848;
}

.section-we-are-offering {
    background-color: #004966;
    color: #ffffff;
}
footer#colophon {
    .featured-clients {
        background-color: #ff4848;
    }
    .footer-logo {
        background-color: #17212a;
    }
    .copyright {
        background-color: #ff4848;
    }
}